.container {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: space-between;
  max-width: 1440px;
  padding: 0 var(--mantine-spacing-xl);

  @mixin dark {
    color: var(--mantine-color-white);
  }
}

.logo {
  align-items: center;
  display: flex;
  flex-shrink: 0;
  justify-content: flex-start;
  max-width: 180px;
  width: 180px;

  @media (max-width: $mantine-breakpoint-xs) {
    width: auto;
  }
}

.links-container {
  display: flex;
  flex-shrink: 0;
  justify-content: flex-end;
  width: 180px;

  @media (max-width: $mantine-breakpoint-xs) {
    width: auto;
  }
}

.search-box-root {
  padding: 0 var(--mantine-spacing-xl);
}

.search-box-input {
  font-family: cera-variable, Arial, Helvetica, sans-serif;

  @mixin dark {
    border: none;
  }
}
