.container {
  height: 100%;
  position: relative;
}

.icon-container {
  animation: bounce 2s ease infinite;
  bottom: 12px;
  left: 0;
  position: absolute;
  right: 0;
  text-align: center;
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }

  40% {
    transform: translateY(-14px);
  }

  60% {
    transform: translateY(-5px);
  }
}
