.container {
  color: #fff;
  display: flex;
  flex-direction: column;
  gap: 24px;
  height: 100%;
}

.settings-container {
  background-color: rgba(27, 27, 27, 1);
  border: 1px solid rgba(41, 41, 41, 1);
  border-radius: 24px;
  display: flex;
  flex: 1;
  flex-direction: column;
  padding: 16px;
}

.settings-row {
  align-items: center;
  display: flex;
  gap: 8px;
}

.item-container {
  align-items: center;
  display: flex;
  font-weight: 500;
  gap: 8px;
}

.label {
  font-weight: 500;
}

.select-root {
  width: auto;
}

.select-icon {
  height: 20px;
  width: 20px;
}

.amount-row {
  align-items: center;
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 8px;
  justify-content: center;
}

.amount-input-container {
  align-items: center;
  display: flex;
  justify-content: center;
}

.amount-input {
  background-color: transparent;
  border: none;
  font-size: 24px;
  max-width: 240px;
  outline: none !important;
  overflow-x: scroll;
  white-space: nowrap;
}

.amount-input::-webkit-scrollbar {
  display: none;
}

.amount-unit {
  color: rgba(166, 169, 174, 1);
  margin-left: 8px;
}

.tip {
  font-size: 13px;
  font-weight: 500;
}

.tip-icon {
  margin-right: 8px;
}

.button-row {
  display: flex;
  gap: 16px;
  justify-content: space-between;
}

.button {
  height: 56px;
  width: 50%;
}
