.container {
  background-color: #fff;
  color: #000;
  height: 100%;
  overflow-y: auto;
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0 auto;
  max-width: 1440px;
  padding: 0 var(--mantine-spacing-xl);
}

.mint-beep-container {
  background-color: rgba(245, 245, 245, 1);
  display: flex;
  gap: 32px;
  justify-content: center;
  padding: 64px var(--mantine-spacing-xl);

  @media (max-width: $mantine-breakpoint-sm) {
    flex-direction: column;
    gap: 24px;
    padding: 32px var(--mantine-spacing-xl);
  }
}

.beep-image {
  height: 100%;
  object-fit: contain !important;
  width: 100%;
}

.free-mint {
  bottom: 0;
  left: auto;
  object-fit: contain !important;
  position: absolute !important;
  right: 0;
  top: auto;
  width: 25% !important;
}

.mint-beep-description-col {
  display: flex;
  flex-direction: column;
  max-width: 528px;
  padding: 32px 0;
}

.mint-beep-creator {
  font-size: 16px;
  font-weight: 500;
}

.logo-text {
  margin-left: 8px;
}

.mint-beep-title {
  font-size: 80px;
  font-weight: 700;
  line-height: 80px;
  text-align: left;

  @media (max-width: $mantine-breakpoint-sm) {
    font-size: 48px;
    line-height: 48px;
  }
}

.mint-beep-coming-soon {
  color: rgba(128, 128, 128, 1);
  font-size: 16px;
  margin-bottom: 16px;
}

.mint-beep-text {
  font-size: 18px;
  font-weight: 500;

  @media (max-width: $mantine-breakpoint-sm) {
    font-size: 14px;
  }
}

.mint-beep-link-container {
  align-items: flex-start;
  display: flex;
  flex-direction: column-reverse;
  flex-grow: 1;
  margin-top: 32px;
}

.mint-beep-link {
  padding: 0 48px;
  transition-duration: 200ms;
  transition-property: opacity;
  transition-timing-function: ease;

  @media (max-width: $mantine-breakpoint-sm) {
    width: 100%;
  }
}

.mint-beep-link:hover {
  opacity: 0.7;
}

.projects-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
}

.title {
  padding: 64px 0 40px;
  position: relative;
  text-align: center;

  @media (max-width: $mantine-breakpoint-sm) {
    padding-bottom: 0;
  }
}
