.container {
  background-color: #ffffff;
  color: #000000;
  height: 100%;
  overflow-y: auto;
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0 auto;
  max-width: 1440px;
  padding: var(--mantine-spacing-md) var(--mantine-spacing-xl);
}

.projects-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
}
