@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --header-height: 4.5rem;
    --header-background-color: #1a1b1e;
    --footer-height: 5rem;
    --footer-background-color: #ffffff;

    --sb-track-color: #f5f5f5;
    --sb-thumb-color: #1a1b1e;
    --sb-size: 5px;
  }

  .dark {
  }
}

@font-face {
  font-family: cera-variable;
  src: url('/fonts/Cera-Variable-Demo.ttf');
}

@font-face {
  font-family: cera-variable;
  font-style: italic;
  src: url('/fonts/Cera-Variable-Italic-Demo.ttf');
}

@font-face {
  font-family: pixeloid-mono;
  src: url('/fonts/PixeloidMono.ttf');
}

@font-face {
  font-family: pixel;
  src: url('/fonts/pixel.ttf');
}

@font-face {
  font-family: gridular;
  src: url('/fonts/Gridular-Regular.woff');
}

* {
  box-sizing: border-box;
  font-family: cera-variable, Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;

  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

html,
body,
#__next {
  background-color: #ffffff;
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}

.custom-scrollbar {
  scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
}

.custom-scrollbar::-webkit-scrollbar {
  height: var(--sb-size);
  width: var(--sb-size);
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 6px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 6px;
}

.bullet-class,
.bullet-active-class {
  background-color: #fff;
  border-radius: 32px;
  box-shadow: var(--mantine-shadow-xs);
  height: 5px;
  opacity: 0.6;
  width: 25px;
}

.bullet-active-class {
  opacity: 1;
}

.react-datepicker-popper {
  z-index: 50 !important;
}

.react-datepicker {
  border: 1px solid #4c4c4c !important;
}

.react-datepicker > .react-datepicker__triangle::before {
  border-top-color: #4c4c4c !important;
}

.react-datepicker > .react-datepicker__triangle::after {
  border-top-color: #4c4c4c !important;
}

.react-datepicker > .react-datepicker__month-container {
  background-color: #2c2c2c;
}

.react-datepicker > .react-datepicker__month-container > .react-datepicker__header {
  background-color: #3f3f3f;
}

.react-datepicker > .react-datepicker__month-container > .react-datepicker__header > .react-datepicker__current-month {
  color: white;
}

.react-datepicker
  > .react-datepicker__month-container
  > .react-datepicker__header
  > .react-datepicker__day-names
  > .react-datepicker__day-name {
  color: white;
}

.react-datepicker > .react-datepicker__month-container > .react-datepicker__month > .react-datepicker__week > .react-datepicker__day {
  color: #dadada;
}

.react-datepicker > .react-datepicker__month-container > .react-datepicker__month > .react-datepicker__week > .react-datepicker__day:hover {
  background-color: #fafafa;
  color: #2c2c2c;
}

.react-datepicker
  > .react-datepicker__month-container
  > .react-datepicker__month
  > .react-datepicker__week
  > .react-datepicker__day--disabled {
  color: #6a6a6a;
}

.react-datepicker
  > .react-datepicker__month-container
  > .react-datepicker__month
  > .react-datepicker__week
  > .react-datepicker__day--selected {
  background-color: #10cb93;
  color: #2c2c2c;
}

.react-datepicker
  > .react-datepicker__month-container
  > .react-datepicker__month
  > .react-datepicker__week
  > .react-datepicker__day--keyboard-selected {
  background-color: #a2a2a2;
  color: #2c2c2c;
}
