.header {
  background-color: #000;
}

.container {
  align-items: center;
  background-color: #000;
  display: flex;
  height: 100%;
  justify-content: space-between;
  max-width: 1440px;
  padding: 0 var(--mantine-spacing-xl);
}

.logo-container {
  align-items: center;
  display: flex;
  flex-shrink: 0;
  justify-content: flex-start;
  max-width: 180px;
  width: 180px;

  @media (max-width: $mantine-breakpoint-sm) {
    width: auto;
  }
}

.logo-wrapper {
  align-items: center;
  background-clip: text;
  background-image: linear-gradient(90deg, rgba(120, 237, 193, 1), rgba(76, 214, 162, 1), rgba(36, 199, 137, 1), rgba(0, 163, 101, 1));
  background-size: 100%;
  display: flex;
  font-family: gridular, sans-serif;
  font-size: 36px;
  justify-content: center;
  letter-spacing: 4px;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.connect-button {
  background-color: #000 !important;
  border: calc(0.0625rem * var(--mantine-scale)) solid rgba(120, 237, 193, 1) !important;
  border-radius: var(--mantine-radius-md) !important;
  color: var(--mantine-color-default-color) !important;
  font-size: var(--mantine-font-size-sm) !important;
  gap: 8px !important;
  height: 36px !important;
  padding: 0 var(--mantine-spacing-sm) !important;
}

.connect-button:hover {
  background-color: #222 !important;
}

.connect-button:focus {
  box-shadow: none !important;
}

.connect-button img {
  height: 16px !important;
  width: 16px !important;
}

.connect-button > div:nth-child(2) > div {
  display: none !important;
}

.connect-button > div:nth-child(2) > span:first-child {
  display: none !important;
}

.connect-button > div:nth-child(2) > span {
  color: rgba(120, 237, 193, 1) !important;
}
