.main {
  height: 100%;
  overflow-y: auto;
}

.container {
  color: #fff;
  margin: 0 auto;
  max-width: 1440px;
  min-height: 100%;
  padding: 64px var(--mantine-spacing-xl) var(--mantine-spacing-xl);
  position: relative;
}

.link-container {
  margin-bottom: 8px;
}

.link {
  align-items: center;
  display: flex;
  flex-wrap: nowrap;
  transition-duration: 200ms;
  transition-property: opacity;
  transition-timing-function: ease;
}

.link:hover {
  opacity: 0.7;
}

.back-icon {
  font-size: 12px;
  margin-right: 8px;
}

.content-container {
  align-items: center;
  border: 1px solid #222325;
  background-color: #000;
  border-radius: 40px;
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
  justify-content: center;
  padding: 64px;

  @media (max-width: $mantine-breakpoint-sm) {
    padding: 32px 0;
  }
}

.nft-iframe-container {
  height: 534px;
  width: 534px;

  @media (max-width: $mantine-breakpoint-sm) {
    height: 256px;
    width: 256px;
  }
}

.nft-iframe {
  border-radius: 18px;

  @media (max-width: $mantine-breakpoint-sm) {
    border-radius: 10px;
  }
}

.settings-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  height: 534px;
  overflow: hidden;
  padding: 16px;
  width: 534px;

  @media (max-width: $mantine-breakpoint-sm) {
    height: auto;
  }
}

.title-row {
  align-items: center;
  display: flex;
  gap: 8px;
  justify-content: space-between;

  @media (max-width: $mantine-breakpoint-sm) {
    align-items: flex-start;
    flex-direction: column;
  }
}

.title {
  font-size: 36px;
  font-weight: 700;
  line-height: 52px;

  @media (max-width: $mantine-breakpoint-sm) {
    font-size: 24px;
    line-height: 42px;
  }
}

.description-row {
  align-items: center;
  display: flex;
  gap: 16px;

  @media (max-width: $mantine-breakpoint-sm) {
    align-items: flex-start;
    flex-direction: column;
  }
}

.no {
  font-size: 18px;
  font-weight: 500;
  line-height: 26px;
}

.profile-container {
  flex: 1;
  overflow: hidden;
  position: relative;
}

.switch {
  flex-shrink: 0;
}

.address-container {
  align-items: center;
  display: flex;
  gap: 16px;
}
